.div1{
   border: 5px solid red;
border-radius: 25px;
  font-size: 20px;
  border-width: thin;

}

.div2{
font-style: italic;
}

.div3{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
    color: white;
    background-color: black;
    font-family: monospace;
}
