:root{
  --li-a-color: white;
  --useful-color: gray;
}

.navbar{
  display: flex;
/*background-image: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);*/

}

.logo{
  background-color:beige
}

.ul-navbar{
 
 
  list-style: none;
  
}
.ul-navbar ul {
 display: flex;
 

}

.ul-navbar ul li  {
  margin-left: 40px;
 
}
.ul-navbar ul li a {
 
}

.pic{
  margin-top: 50px;
   
  
}



.flex-parent-element {
  margin-left: 24%;
 display: flex;
 width: 27%;
 
}

.flex-parent-element:hover{
  
  transform: scale(2) translate(30%, 10%);
}


.flex-child-element {
 
 border: 1px solid (0,0,0,0);
 margin: 15px;

}

img {
  border-radius: 50%;
  
}

img:hover{
 
}

#nav{
  margin-left: 20%;
}

body{
 background-image: url("https://s3.envato.com/files/a4c2e1aa-9c57-4516-8d8b-9ae80aae23a5/inline_image_preview.jpg");
 background-size: 100%;
}

p{
  color:green;
  font-family: monospace;
  text-align: center;
  text-shadow: 2px 2px black;
}

h2, h3{
  color:var(--useful-color);
  font-family: sans-serif;
}

a{
  color: var(--useful-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
    color:var(--li-a-color);
  padding: 8px 16px;
  text-decoration: none;
}


